<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-item lines="none" color="success">
      <ion-buttons>
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title >
        Validations des notes
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
  <ion-item>
    Valider les notes par:
  </ion-item>

    <ion-button expand="block">Filiere</ion-button>
    <ion-button expand="block">Matiere</ion-button>
  </div>
  <!-- 
  <div *ngFor="let notes of TampNotes">
    <ion-button></ion-button>
  </div> -->
</ion-content>
