<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-item lines="none" color="success">
      <ion-buttons>
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title >
        Releves des Notes
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
