ion-col
{
    border: 1px solid black;
    width: 40px;
}

.col1
{
    text-align: center;
    font-size: 0.5rem;
    width: 20px;
}

.col21
{
    text-align: center;
    width: 80px;
    color: black;
    background-color: rgb(204, 208, 211);
}
.col2
{
    text-align: center;
    width: 80px;
}